<style type="text/css">
    .root
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .dashboard
    {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        padding: 20px;       
        height: 1160px; 
        border: 1px solid #f1f1f1;

    
    
    
    }



    .navbar
    {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        height: 60px;
        border: 1px solid #f1f1f1;


    }


    .box
    {
        width: 1000px;
        border-radius: 10px;
        margin-top: 30px;
        padding: 30px;
        box-shadow: 0px 0px 28px black;
        
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        border: 3px solid #f1f1f1;
    
    
    
    }
    .gap
    {
        margin-top: 20px;
    
    
    }
    .gapp
    {
        margin-top: 10px;
    }
    .bg
    {
        background-image:url("/images/bg.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
    }
    .hl
    {
        margin-top:10px;
        margin-bottom:2px;
        height:1px;
        width:100%;
        border-top:1px solid #fff;
    }
    .font
    {
        color: #fff;
        font-family:Serif;
        font-size: 21px;
    }
    .cn
    {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    </style>

<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="/javascripts/project.js">
    </script>

    
    <title>
        Dashboard
    </title>

    <body class="bg">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                
                <div style="font-size: 24px;color: #fff;font-weight: bolder;letter-spacing: 2px;">
                    <i style="font-size: 35px;" class="fas fa-user-graduate"></i>
                    Student Marksheet Management
            </div>
            </a>
            <div style="margin-left: 740px;font-size: 24px;color: #fff;font-weight: bolder;letter-spacing: 2px;">
                <img src="/images/<%=aresult.picture %>" style="border-radius: 30px;width: 50px;height: 50px;">
                <%=aresult.adminname %>
            </div>
        </nav>

        <div class="form-row">
                              
            <div class="form-group col-md-2" style="align-items: center;justify-content: left;font-size: 24px;color: #fff;font-weight: bolder;letter-spacing: 2px;">

                <div class="dashboard">
                    <div><a type="button" style="background-color:transparent;font-size: 16px;color: #fff;width: 100px;width: 178px;" class="btn" href="/marksheetadmin/dashboard">Dashboard</a></div>
                    <div><a type="button" style="background-color:transparent;font-size: 16px;color: #fff;width: 100px;width: 178px;" class="btn" href="/marksheet/studentinfo">Add Student Info</a></div>
                    <div><a type="button" style="background-color:transparent;font-size: 16px;color: #fff;width: 100px;width: 178px;" class="btn" href="/marksheet/displayrecords">Student Records</a></div>
                    <div><a type="button" style="background-color:transparent;font-size: 16px;color: #fff;width: 100px;width: 178px;" class="btn" href="/marksheet/searchbyid">Search Student</a></div>
                    <div><a type="button" style="background-color:transparent;font-size: 16px;color: #fff;width: 100px;width: 178px;" class="btn" href="/marksheetadmin/logout">Logout</a></div>
                    
                </div>
    
             </div>
    
            <div class="form-group col-md-10" style="display: flex;align-items: center;justify-content: center;padding-left: 20px;font-size: 24px;color: #fff;font-weight: bolder;letter-spacing: 2px;">
                   <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="/javascripts/project.js">
    </script>

    
    <title>
        Display Records
    </title>

    <body class="bg">
        <form action="/marksheet/deleterecord" method="post">

        <div class="root">
        
            <div class="box">
                <div class="row">

                    <div style="padding-left: 20px;">
                        <a style="font-weight: bold" class="btn btn-outline-light" href="/marksheet/displayrecords" role="button">Back</a>
    
                    </div>

                    <div style="padding-left: 250px;font-size: 28px;color:  #fff;font-weight: bolder;letter-spacing: 2px;font-family: Lucida Handwriting;">
                        <i style="font-size: 35px;" class="fas fa-graduation-cap"></i>
                        Marksheet
                    </div>

                    

                </div>
                <div class="hl"></div>

                <div class="row gap font">

                    <div class="col">

                        Student's Roll Number : <%=result.rollno %>
                        <br><br>

                        Student's Name : <%=result.studentname %>

                        <br><br>

                        Father's Name : <%=result.fathersname %>

                        <br><br>

                        Gender : <%=result.gender %>

                        <br><br>
                        
                        Date Of Birth : <%=result.dob %>

                        <br><br>
                        
                        School's Name : <%=result.schoolname %>

                        <br><br>
                     
                    </div>
                    <div class="col">

                        <div style="justify-content: right;display: flex;align-items: right;">
                        <img src='/images/<%=result.picture %>' width="200">
                        </div>    
                                     

                    </div>
                </div>
                <div class="row font">

                    <div class="col">

                        Address : <%=result.address %> 

                    </div>
                    <div class="col">

                        State : <%=result.sn %> 

                    </div>
                    <div class="col">

                        City : <%=result.cn %> 
                        

                    </div>

                </div>
                <br>
                <div class="hl"></div>

                <div class="row font gap">

                    <div class="col" style="font-weight: bolder;">

                        Subject Code

                    </div>
                    <div class="col" style="font-weight: bolder;">

                        Subject Name

                    </div>
                    <div class="col" style="font-weight: bolder;">

                        Maximum Marks

                    </div>
                    <div class="col" style="font-weight: bolder;">

                        Marks Obtained

                    </div>

                </div>
                <div class="hl"></div>


                <div class="row font gap">

                    <div class="col cn">

                        <%=result.phycode %>

                    </div>
                    <div class="col cn">

                        Physics

                    </div>
                    <div class="col cn">

                        100

                    </div>
                    <div class="col cn">

                        <%=result.phymarks %>

                    </div>


                </div>

                <div class="row font gap">

                    <div class="col cn">

                        <%=result.chemcode %>

                    </div>
                    <div class="col cn">

                        Chemistry

                    </div>
                    <div class="col cn">

                        100

                    </div>
                    <div class="col cn">

                        <%=result.chemmarks %>

                    </div>


                </div>
                <div class="row font gap">

                    <div class="col cn">

                        <%=result.mathscode %>

                    </div>
                    <div class="col cn">

                        Maths

                    </div>
                    <div class="col cn">

                        100

                    </div>
                    <div class="col cn">

                        <%=result.mathsmarks %>

                    </div>


                </div>
                <div class="row font gap">

                    <div class="col cn">

                        <%=result.engcode %>

                    </div>
                    <div class="col cn">

                        English

                    </div>
                    <div class="col cn">

                        100

                    </div>
                    <div class="col cn">

                        <%=result.engmarks %>

                    </div>


                </div>
                <div class="row font gap">

                    <div class="col cn">

                        <%=result.hindicode %>

                    </div>
                    <div class="col cn">

                        Hindi

                    </div>
                    <div class="col cn">

                        100

                    </div>
                    <div class="col cn">

                        <%=result.hindimarks %>

                    </div>


                </div>
                <div class="row font gap">

                    <div class="col">

                        Percentage :  <%=perc %>

                    </div>

                    <div class="col">

                        Result :  <%=rrr %>

                    </div>

                </div>
            
            </div>
        </div>

        <div class="root">
            <div class="box">
                <div class="row">
                    <div class="col" style="display: flex; justify-content: center; align-items: center;">
                        <a style="width: 380px;" class="btn btn-warning" href="/marksheet/editrecord?sid=<%=result.studentid %>" role="button">Update This Record</a>
                    </div>
                    <input type="text" hidden name="sid" value="<%= sid %>">
                    <div class="col" style="display: flex; justify-content: center; align-items: center;">
                        <button type="submit" style="width: 400px;" class="btn btn-danger">Delete This Record</button>
                    </div>

                </div>
                
            </div>

        </div> 




    </form>
    </body>

</div>
    
    
</div>

</body>



</html>
